* {
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

.navbar {
    height: 60px;
    background-color: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}

.nav-webname {
    display: flex;          
    align-items: center;    
    gap: 20px;              
    padding: 0px 5px;

    
}


.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

.add-first{
    color:#cccccc;
    font-size:0.85rem;
    
}
.add-second{
    font-size: 1rem;


}

.add-icon{
    display: flex;

}


/* .nav-address{
    /* padding-left: 20px; */
 /* } */


/* box3 */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;

}
.nav-search:hover{
    border: 2px solid #3C3C3C;

}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border:none;
    /* border-radius: 4px; */

}


.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color:grey;
    color: #222;


}

/* box4 */
span{
    font-size: 0.7rem;

}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;


}

/* box6 */
.nav-cart i {
    font-size: 30px;

}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}


/* panel */
.panel{
    height: 40px;
    background-color: #ff5a5f;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;

}
.panel-all{
    display: flex;
}

.panel-ops p{
    display: inline;
    margin-left: 30px;
    
    
}
.panel-ops{
    width: 80%;
    font-size: 0.85rem;
    margin-left: 350px;

}

/* shopsection */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.box{
    height: 400px;
    /* border: 2px solid black; */
    width: 23%;
    padding: 20px 0px 15px;
    /* margin-top: 5px; */




}
.box:hover{
    /* border: 2px solid #111; */
    border-radius: 30px;
    background-color: #f3f3f3;
}


.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;


}

.box-content p{
    color:#007185;


}
/* <> */
.navbar>.nav-signin  a{
    text-decoration: none;
    color: white;
    
}
/* <> */

a{
    text-decoration: none;
    color: black;
    
}
/* <> */
.panel>.panel-ops>a{
    text-decoration: none;
    color: white;
    cursor: pointer;


}
/* <> */



/* footer */



footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #37475a;
    color:white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;




}

.foot-panel2{
    background-color: #222;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;




}
ul{
    margin-top: 20px;
    
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top:10px ;
    color: #dddddd;


}


/* test */





/* <> */
.navbar>.nav-webname>.webname a{
    color: white;
}
/* <> */
