* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* nav */
.navbar {
    height: 60px;
    background-color: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.logo {
    font-size: 1.5rem;
}

.nav-links a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* product */
.product-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 40px;
    flex-wrap: wrap;
}

/* img */
.product-image img {
    width: 350px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #ddd;
}

/* detail */
.product-details {
    max-width: 450px;
}

.product-details h2 {
    margin-bottom: 15px;
}

.price {
    font-size: 1.6rem;
    font-weight: bold;
    color: #e6494e;
}

.price span {
    font-size: 1rem;
    text-decoration: line-through;
    color: #777;
    margin-left: 8px;
}

/* desc */
.desc {
    margin-top: 15px;
    font-size: 1rem;
    color: #444;
}

/*  */
.features {
    margin-top: 20px;
    padding-left: 20px;
}

.features li {
    margin-bottom: 8px;
    font-size: 0.95rem;
}

/* button */
.btn {
    width: 180px;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.cart {
    background-color: #ffd814;
}

.cart:hover {
    background-color: #f7ca00;
}

.buy {
    background-color: #e6494e;
    color: white;
    margin-left: 10px;
}

.buy:hover {
    background-color: #c7353a;
}

/* reponce */
/* @media (max-width: 850px) {
    .product-container {
        flex-direction: column;
        align-items: center;
    }

    .product-details {
        text-align: center;
        margin-top: 30px;
    }
} */

* {
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

.navbar {
    height: 60px;
    background-color: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}

.nav-webname {
    display: flex;          
    align-items: center;    
    gap: 20px;              
    padding: 0px 5px;

    
}


.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

.add-first{
    color:#cccccc;
    font-size:0.85rem;
    
}
.add-second{
    font-size: 1rem;


}

.add-icon{
    display: flex;

}


/* .nav-address{
    /* padding-left: 20px; */
 /* } */


/* box3 */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;

}
.nav-search:hover{
    border: 2px solid #3C3C3C;

}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border:none;
    /* border-radius: 4px; */

}


.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color:grey;
    color: #222;


}

/* box4 */
span{
    font-size: 0.7rem;

}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;


}

/* box6 */
.nav-cart i {
    font-size: 30px;

}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}


/* panel */
.panel{
    height: 40px;
    background-color: #ff5a5f;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;

}
.panel-all{
    display: flex;
}

.panel-ops p{
    display: inline;
    margin-left: 30px;
    
    
}
.panel-ops{
    width: 80%;
    font-size: 0.85rem;
    margin-left: 350px;

}


/* hero */

.hero-section{
    background-image: url("img/Hero.png");
    height: 790px;
    background-repeat: no-repeat;



}

/* shopsection */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.box{
    height: 400px;
    /* border: 2px solid black; */
    width: 23%;
    padding: 20px 0px 15px;
    /* margin-top: 5px; */




}
.box:hover{
    /* border: 2px solid #111; */
    border-radius: 30px;
    background-color: #f3f3f3;
}


.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;


}

.box-content p{
    color:#007185;


}
/* <> */
.navbar>.nav-signin  a{
    text-decoration: none;
    color: white;
    
}
/* <> */
.panel>.panel-ops>a{
    text-decoration: none;
    color: white;
    cursor: pointer;


}
/* <> */



a{
    text-decoration: none;
    color: black;
    
}

/* footer */
footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #37475a;
    color:white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;




}

.foot-panel2{
    background-color: #222;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;




}
ul{
    margin-top: 20px;
    
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top:10px ;
    color: #dddddd;


}



/* <> */
.navbar>.nav-webname>.webname a{
    color: white;
}
/* <> */






